@media(max-width: 1200px) {
  .card-1 .carousel .carousel-inner .carousel-item img {
    height: 100%;
  }
}
@media(max-width: 768px){
  .card-1 .carousel .carousel-inner .carousel-item{
    height: 70vh;
  }
  .card-2 .aboutus-header{
    width: 50%;
  }
  .card-3 .products-header{
    width: 50%;
  }
  .card-4 .profile-header{
    width: 50%;
  }
  .card-5 .gallery-header{
    width: 50%;
  }
  .card-5 .container nav .nav-tabs{
    width: 70%;
  }
}
@media(max-width:576px){
  .card-1 .carousel .carousel-inner .carousel-item{
    height: 50vh;
  }
  .card-2 .aboutus-header{
    width: 90%;
  }
  .card-3 .products-header{
    width: 90%;
  }
  .card-4 .profile-header{
    width: 90%;
  }
  .card-5 .gallery-header{
    width: 90%;
  }
  .card-5 .container nav .nav-tabs{
    width: 90%;
  }
  
}